# Core
flask==3.0.0
flask-cors==6.0.1
opencv-python==4.8.1.78
pillow==10.1.0
# numpy==1.19.3
werkzeug==3.0.1

# Face detection
mediapipe==0.10.21
tensorflow==2.19.0
# retinaface==1.1.1
mtcnn==1.0.0

# Emotion detection
deepface
tf-keras

# Optional: FastAPI
# fastapi==0.104.1
# uvicorn==0.24.0
# python-multipart==0.0.6

# Optional: Testing
# requests==2.31.0
